Configuration/Tools/oracledi/demo/xml/personal.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT email (#PCDATA)>
<!ELEMENT family (#PCDATA)>
<!ELEMENT given (#PCDATA)>
<!ELEMENT link EMPTY>
<!ATTLIST link
	manager IDREF #IMPLIED
	subordinates IDREFS #IMPLIED
>
<!ELEMENT name (family, given)>
<!ELEMENT person (name, email*, url*, link?)>
<!ATTLIST person
	id ID #REQUIRED
	note CDATA #IMPLIED
	contr (true | false) #IMPLIED
	salary CDATA #IMPLIED
>
<!ELEMENT personnel (person+)>
<!ELEMENT url EMPTY>
<!ATTLIST url
	href CDATA #IMPLIED
>
